<div fxLayout="column" fxFlexFill class="dialog-container">
    <mat-toolbar fxLayout="row" fxFlex="0 1 auto" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div fxFlex="1 0 auto">{{layout?.value}}</div>
            <div fxFlex="0 1 auto">
                <button type="button" aria-label="Toggle sidenav" (click)="onClose()" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>



    <div fxFlex="1 0 auto" *ngFor="let control of formBase">
       
            <app-formbase [form]="form" [control]="control"></app-formbase>
        


        <form [formGroup]="form" fxLayout="column">


            <mat-radio-group formControlName="type">
                <mat-radio-button value="เข้างาน"  >เข้างาน</mat-radio-button>
                <mat-radio-button value="ออกงาน" >ออกงาน</mat-radio-button>
              </mat-radio-group>
        

            <mat-card >
                <div fxLayout="row">
                    <input matTimepicker formControlName="time" placeholder="กรุณาเลือกเวลา">
                    <mat-icon #picker>schedule</mat-icon>
                </div>
            </mat-card> 

        </form>
    </div>

    <div fxFlex="0 1 auto" fxLayoutAlign="center end" style="margin: 20px 0 20px 0;"  >
        <button mat-raised-button color="primary" (click)='onSubmit()'>ยืนยัน</button>
    </div>
</div>