<mat-toolbar>
  <small>
    <div fxLayout="row">
      <mat-label class="header-list">ข้อมูลรายชื่อพนักงาน</mat-label>
      <mat-icon [matMenuTriggerFor]="menu" class="menu">
        <small>more_vert</small>
      </mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog('')">เพิ่มข้อมูลพนักงาน</button>
      </mat-menu>
    </div>
  </small>
</mat-toolbar>
<mat-divider></mat-divider>


  <mat-form-field class="search" appearance="fill">
    <mat-label>ค้นรายชื่อพนักงาน</mat-label>
    <input #search matInput placeholder="กรุณาพิมพ์รายชื่อพนักงาน">
  </mat-form-field>
  <div *ngFor="let item of dataemployee">
    {{item.firstName}} {{item.lastName}}
    <div fxLayout="row" fxLayoutAlign="end" fxFlex="100">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog(activeEmployee)">
          <mat-icon>edit</mat-icon>
          <span>แก้ไข</span>
        </button>
      </mat-menu>
    </div>
  </div>
