mat-drawer-container {
  height: 100%;
  width: 100%;
  // border: 1px solid black;
}
mat-drawer{
  width: 15%;
}
.profile{
  margin-top: 10px;
  height: 100%;
}

.button-right{
  margin-left:95%;
}

//  .button-left{
//     padding: auto;
//  }

.middle{
   width: 100%;
   height: 100%;
}

