<div fxLayout="column" fxFlexFill class="dialog-container">
    <mat-toolbar fxLayout="row" fxFlex="0 1 auto" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <span fxFlex="1 0 auto" *ngIf="!data.info">{{layout?.value}}</span>
            <span fxFlex="1 0 auto" *ngIf="data.info">แก้ไขข้อมูล</span>
            <div fxFlex="0 1 auto">
                <button type="button" aria-label="Toggle sidenav" (click)="onClose()" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>

    <div>
        <mat-card (click)="fileUpload.click()" class="card" fxLayoutAlign="center center" fxLayout="column" >
            <p class="add" *ngIf="!data.info">Press to add a picture.</p>
                <div fxLayout="row" fxLayoutAlign="center center" class="image">
                    <img  *ngIf="image" [src]="displayImage()">
                </div>
        </mat-card>
        <input type="file" #fileUpload (change)="onFileUpload($event)" hidden />
    </div>

    <div  *ngFor="let control of formBase">
        <app-formbase [form]="form" [control]="control"></app-formbase>
    </div>


    <div  fxLayoutAlign="center end" style="margin: 20px 0 20px 0;">
        <button mat-raised-button color="primary" (click)='onSubmit()' >
            ยืนยัน
        </button>
    </div>



</div>