<div fxLayout="column" fxFlexFill class="dialog-container">
    <mat-toolbar fxLayout="row" fxFlex="0 1 auto" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex>
            <div fxFlex="1 0 auto">{{layout?.value}}</div>
            <div fxFlex="0 1 auto">
                <button type="button" aria-label="Toggle sidenav" (click)="onClose()" mat-icon-button>
                    <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
                </button>
            </div>
        </div>
    </mat-toolbar>

    <div>
        <mat-card (click)="fileUpload.click()" class="card">
            <!-- <p>Add Image</p> -->
            <div fxLayoutAlign="center" fxFlex="1 0 auto">
                <div mat-card-avatar class="avatar-profile" 
                    style="background-image: url('https://img-premium.flaticon.com/png/512/552/premium/552848.png?token=exp=1632382873~hmac=0c4998c46f73e2680881cc8125de0621');">
                </div>
                <!-- <div mat-card-avatar class="avatar-profile" *ngIf="employees?.imageUrl"
                    style="background-image: url('{{employees?.imageUrl}}');">
                </div> -->
            </div>
        </mat-card>
        <input type="file" #fileUpload (change)="onFileUpload($event)" hidden />
    </div>

    <div fxFlex="1 0 auto" *ngFor="let control of formBase">
        <app-formbase [form]="form" [control]="control"></app-formbase>
    </div>


    <div fxFlex="0 1 auto" fxLayoutAlign="center end" style="margin: 20px 0 20px 0;">
        <button mat-raised-button color="primary" (click)='onSubmit()'>ยืนยัน</button>
    </div>



</div>