// .card {
//     padding: 20px;
//     width: 15vh;
//     height: 15vh;
//     border: solid black;
//     margin-top: 3vh;
//   }

  .avatar-profile {
    height: 144px;
    width: 144px;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;

  }